.carousel-container {
  position: relative;
  mask-image: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0), /* Left edge */
    rgba(0, 0, 0, 1) 80px, /* visible after 80px */
    rgba(0, 0, 0, 1) calc(100% - 80px), /* invisible 80px from right */
    rgba(0, 0, 0, 0) 100% /* Right edge */
  );
  -webkit-mask-image: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 1) 80px, 
    rgba(0, 0, 0, 1) calc(100% - 80px), 
    rgba(0, 0, 0, 0) 100%
  );
}

@media (max-width: 768px) {
  .carousel-container::before,
  .carousel-container::after {
    /* width: 40px; // hidden instead because it might look like there is nothing to scroll*/
    display: none;
  }
}

h2 {
  position: relative;
  z-index: 2;
}

button {
  position: relative;
  z-index: 2;
}
