.carousel-container {
  position: relative;
}

.carousel-container::before,
.carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  pointer-events: none;
  z-index: 1;
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
}

@media (max-width: 768px) {
  .carousel-container::before,
  .carousel-container::after {
    /* width: 40px; // hidden instead because it might look like there is nothing to scroll*/
    display: none;
  }
}

h2 {
  position: relative;
  z-index: 2;
}

button {
  position: relative;
  z-index: 2;
}
